[{kracken,
	[
		{options,
			[
				{rabbit-mq,
					[
						{exchange, <<"">>},
						{username, <<"">>},
						{password, <<"">>},
						{host, <<"">>},
						{port, <<"">>},
						{vhost, <<"">>},
					]
				}
			]
		},
		{listenKeys,
			[
				{<<"example.topic">>, ['xmpp-driver']},
				{<<"example.*">>, ['onetime', 'xmpp-driver']},
				{<<"#">>, ['socky']}
			]
		},
		{workers,
			[
				{xmpp,
					[
						{username, <<"">>},
						{password, <<"">>},
						{server, <<"">>},
						{port, <<"">>},
						{agents,
							[
								{'xmpp-channel',
									[
										{channel, <<"">>},
									]
								}
								{'xmpp-users',
									[
										{user, <<"">>},
										{user, <<"">>},										{channel, <<"">>},										{channel, <<"">>},
										{channel, <<"">>},
									]
								}
							]
						}
					]
				},
				{exec,
					[
						{name, 'onetime'},
						{path, ""},
						{arguments, [""]},
						{env, {"",""}},
					]
				},
				{daemon,
					[
						{name, ''},
						{path, ""},
						{arguments, [""]},
						{env, {"",""}},
					]
				},
				{socket,
					[
						{name, 'socky'},
						{path, ""},
						{arguments, [""]},
						{env, {"",""}},
					]
				},
				{file,
					[
						{name, ''},
						{path, ""},
						{arguments, [""]},
						{env, {"",""}},
					]
				}
			]
		},
		{routers,
			[
				{<<"example.topic">>, ['xmpp-driver']}
			]
		}
	]
}].
